.card{
    position: relative;
    margin: 0 1% 0 1%;
    width: 90%;
    height: 90%;
}
.card img {
    width: 100%;
    height: 100%;
   border-bottom: solid 3px rgb(157, 74, 230);
}
.card h3{
    font-size: 3vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    top: -10%;
   
}
.cover{
   position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
}
.details {
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details:hover{
    background: none;
    cursor: pointer;  
    color: rgb(157, 74, 230);
}
